html{
    font-family: sans-serif;
}

body{
    margin: 0
}

h1,h2,h3,h4,h5,h6{
    margin: 25px 0 15px 0
}
h2{
    font-size: 17px;
    font-weight: bold
}
#wrapper{
    width: 80%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.lbltitle{
    width: 20%;
    float: left;
}

.lblinput, .lbloutput{
    width: 80%;
    float: left;
}

.submit{
    padding: 10px 0;
    text-align: center;
    width: 50%
}


.all-browsers {
margin: 0;
padding: 5px;
background-color: lightgray;
}

.all-browsers > h1, .browser {
margin: 10px;
padding: 5px;
}

.browser {
background: white;
}

.browser > h2, p {
margin: 4px;
font-size: 90%;
}


